[Unit]
Description=Syslog Server

[Service]
WorkingDirectory=/usr/local/sbin/syslog4switches/
ExecStart=/usr/local/sbin/syslog4switches/server
User=root
Restart=always

[Install]
WantedBy=multi-user.target